.suggestion-item[data-item-type="block"][data-item-node-type="comment"] {
    color: var(--code-comment);
}

.alert-hover-editor .setting-item-description {
    color: #ea5555;
}

.compact-font.hover-popover .markdown-rendered {
    font-size: 100%;
}

.suggestion-container {
    z-index: calc(var(--layer-popover) - 1);
}

.suggestion-content {
    width: 100%;
}

.suggestion-title>.markdown-rendered>* {
    margin-block-start: calc(var(--p-spacing) * 0.3);
    margin-block-end: calc(var(--p-spacing) * 0.3);
    margin-left: calc(var(--p-spacing) * 0.1);
    margin-right: calc(var(--p-spacing) * 0.1);

    &>p {
        margin-block-start: calc(var(--p-spacing) * 0.3);
        margin-block-end: calc(var(--p-spacing) * 0.3);
    }
}

.suggestion-title>.markdown-rendered mjx-container[display="true"] {
    margin-top: calc(var(--p-spacing) * 0.3);
    margin-bottom: calc(var(--p-spacing) * 0.3);
}